<form action="{% url 'search' %}" method="GET">
	<div class="form-group row">
		<label class="col-2 col-form-label" for="search_q">Search</label>
		<div class="col-10">
			<input class="form-control" type="search" id="search_q" name="q" placeholder="Search Text">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-2 col-form-label" for="search_name">Name</label>
		<div class="col-10">
			<input class="form-control" type="search" id="search_name" name="f_name" placeholder="Example: Alan Turing">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-2 col-form-label" for="search_nationality">Nationality</label>
		<div class="col-10">
			<input class="form-control" type="search" id="search_nationality" name="f_nationality" placeholder="Example: American">
		</div>
	</div>
	<div class="form-group row">
		<label class="col-2 col-form-label" for="search_born">Born</label>
		<div class="col-10">
			<input class="form-control" type="search" id="search_born" name="f_born" placeholder="Example: January 13, 1986">
		</div>
	</div>
	<div class="form-group row">
		<div class="offset-2 col-10">
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
	</div>
</form>
